@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap');

:root {    
    --bg-color-nav: #252422;
    --color-nav: #fffcf2;
    --bg-color-main: #27213c;
    --color-main-span: #941c2f;
    --bg-clr-project-section: #272d2d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scroll-padding: 64px;
    background-color: var(--bg-color-main);
}

html {
    font-size: 62.5%; /*10px*/
}

body {
    font-size: 1.6rem; /*16px*/
}

h2 {
    font-size: 3rem;
    letter-spacing: .8px;
    color: var(--color-nav);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact-section, #footer {
    text-align: center;
}

/*header-section*/

.nav-container {
    width: 100%;
    height: 64px;
    position: fixed;
    display: flex;
    background-color: var(--bg-color-nav);
    z-index: 1;
}

.nav-container > ul {
    margin: auto;
    display: flex;
}

.nav-container > ul > li {
    padding: 8px 16px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.2px;
}



.nav-container > ul > li  > a {
    color: var(--color-nav);
}

/*header-section end*/

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

/* main-section */

main {
    background-color: var(--bg-color-main);
}

/*welcome-section*/

#welcome-section {
    height: 100vh;
}

#welcome-section > h1 {
    color: var(--color-main-span);
    font-size: 4rem;
    line-height: 50px;
    font-weight: 800;
    text-shadow: 1.2px  1.2px #000;
}
#welcome-section > p , #contact-section > p {
    color: var(--color-nav); 
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 10px 0;
}

#welcome-section h1 > span {
    color: var(--color-nav);
    text-align: right;
    border: 3px solid var(--color-nav);
    border-radius: 5px;
    background: #941c2e7b;
    padding: 4px 7px 7px 7px;
    line-height: 80px;
}

/*welcome-section end*/

/*projects-section*/
    #projects {
        background-color: var(--bg-clr-project-section);
        height: 100%;
        width: 100%;
    }

    #projects h2 {
        margin-bottom: 10%;        
    }

    #projects > .project-tile {
        width: 300px;
        height: 300px;
        overflow: hidden;
        margin: 2rem 0;
        box-shadow: 0px 0px 5px .5px rgba(0,0,0,1);
        -webkit-box-shadow: 0px 0px 5px .5px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 5px .5px rgba(0,0,0,1);
    }

    #projects > .project-tile:nth-child(3) img {
        object-position: 0 0;
    }

    #projects > .project-tile:nth-child(4) img {
        object-position: 0;
    }    

    #projects > .project-tile:last-child img {
        object-fit: fill;
    }

    .project-desc {
        width: 100%;
        height: 80px;
        position: relative;
        margin-top: -80px;
        background-color: var(--bg-color-nav);
        color: var(--color-nav);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .project-desc h3 {
        font-size: 2rem;
        letter-spacing: .8px;
        text-align: center;
    }

    .project-desc p {
        font-size: 1.8rem;
        display: none;
    }

    

/*projects-section end*/

/*contact-section*/

#contact-section {
    height: calc(100vh - 64px);
}

#contact-section h2{
    margin-top: -64px;
}

#contact-section > p {
    letter-spacing: .3px;
}

#contact-section .tooltip > a > i {
    font-size: 6rem;
    color: var(--color-main-span);
    text-shadow: 1.2px  1.2px #000;;    
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: var(--bg-color-nav);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin-top: 60px;
    margin-left: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/*contact-section end*/

/* main-section end*/
 
/*footer-section*/

#footer {
    margin-top: -144px;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: var(--bg-color-main);
    color: var(--color-nav);
}

.social-icons {
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    font-size: 2rem;
}

.social-icons a {
    color: var(--color-nav);
    margin: 0 16px;
}

#footer > small {
    word-spacing: .3rem;
}

/*footer-section end*/


/*media-queries*/

/*320px-phones*/

@media screen and (max-width: 320px) {

/* main-section */

main {
    background-color: var(--bg-color-main);
}

/*welcome-section*/

#welcome-section > h1 {
    font-size: 3.5rem;
}

/*welcome-section end*/

/*projects-section*/

#projects > .project-tile {
    width: 250px;
    height: 250px;
}

#projects > .project-tile:nth-child(2) img {
    object-position: -133px;
}

#projects > .project-tile:last-child img {
    width: 275px;
    object-position: -18px;
}

.project-desc {
    padding: 8px;
    
}

/*projects-section end*/

/*main-section end*/

}

/*320px-phones end*/

/*small-tablet-portrait*/

@media screen and (max-width: 480px) {

    /*header-section*/
    
    .nav-container > ul > li {
        padding: 8px;
        font-size: 1.8rem;
    }

/*header-section end*/

    #projects > .project-tile:nth-child(2) img {
        object-position: -157px;
    }

    #projects > .project-tile:last-child img {
        width: 325px;
        object-position: -18px;
    }

}

@media screen and (min-width: 480px) and (max-width: 600px) {

/*header-section*/

.nav-container > ul {
    width: 100%;
    justify-content: space-evenly;
}

/*header-section end*/

/*welcome-section*/


#welcome-section > h1 {
    font-size: 4.5rem;
}

#welcome-section > p {
    align-self: flex-start;
    width: 90%;
}

/*welcome-section end*/

/*projects-section*/

#projects > .project-tile:nth-child(2) img {
    object-position: -159px;
}

#projects > .project-tile:last-child img {
    width: 325px;
    object-position: -18px;
}

/*projects-section end*/

}

/*small-tablet-portrait end*/

@media screen and (min-width: 601px) and (max-width: 767px) {

    /*header-section*/

    .nav-container > ul {
        width: 100%;
        justify-content: flex-end;
    }

    /*header-section end*/

    /*welcome-section*/

    #welcome-section > h1 {
        text-align: center;
    }

    #welcome-section > p {
        text-align: center;
    }

    /*welcome-section end*/

    /*projects-section*/

    #projects {        
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10% 0;
    }

    #projects h2 {        
        width: 100%;
        text-align: center;
    }

    #projects > .project-tile {
        margin-left: 2%;
        margin-right: 2%;
    }

    #projects > .project-tile:nth-child(2) img {
        object-position: -158.5px;
    }

    #projects > .project-tile:last-child img {
        width: 325px;
        object-position: -18px;
    }

    /*projects-section end*/

}


/*tablet and small desktop*/

@media screen and (min-width: 768px) and (max-width: 1200px){

    /*header-section*/

    .nav-container > ul {
        width: 100%;
        justify-content: flex-end;
    }

    .nav-container > ul > li:hover {
        transform: translateY(-1.5px);
        transition: transform ease .3s;
    }
    .nav-container > ul > li a:hover {
        color: var(--color-main-span);
        text-shadow: 1.2px  1.2px #000;
        transition: all ease .3s;
    }

    /*header-section end*/

    /*welcome-section*/

    #welcome-section h1 > span:hover {
        background: var(--color-main-span);
        cursor: default;
    }

    #welcome-section > h1 {
        text-align: center;
    }

    #welcome-section > p {
        text-align: center;
    }

    /*welcome-section end*/

    /*projects-section*/

    #projects {        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10% 0;
    }

    #projects h2 {        
        width: 100%;
        text-align: center;
    }

    #projects > .project-tile {
        width: 400px;
        height: 400px;
        margin-left: 2%;
        margin-right: 2%;
    }

    #projects > .project-tile:hover img {
        transform: scale(1.05);
        transition: all ease .3s;
        opacity: .5;
    }

    #projects > .project-tile:hover .project-desc h3{
        display: none;
    }

    #projects > .project-tile:hover .project-desc p {
        display: block;
        font-size: 2rem;
        font-weight: 400;
    }

    #projects > .project-tile > .project-desc p:hover {
        color: var(--color-main-span);
        text-shadow: 1.2px  1.2px #000;
        transition: all ease .3s;
    }

    #projects > .project-tile:nth-child(2) img {
        object-position: -213px;
    }

    #projects > .project-tile:last-child img {
        width: 425px;
        object-position: -18px;
    }

    /*projects-section end*/

    /*contact-section*/

    #contact-section .tooltip > a > i:hover  {
        transform: scale(.95);
        transition: all ease .2s;
    }

    /*contact-section end*/

    /*footer-section*/

    .social-icons a:first-child:hover {
        color: #55acee;
        transform: translateY(-2px);
        transition: all ease .2s;
    }

    .social-icons a:nth-child(2):hover {
        color: #4183c4;
        transform: translateY(-2px);
        transition: all ease .2s;
    }
    
    .social-icons a:nth-child(3):hover {
        color: #0077b5;
        transform: translateY(-2px);
        transition: all ease .2s;
    }

    /*footer-section end*/

}

/*tablet and small desktop end*/

/*desktop*/

@media screen and (min-width: 1200px) {

    html, body {
        scroll-padding: 0;
    }

     /*header-section*/

     .nav-container > ul {
        width: 100%;
        justify-content: flex-end;
    }

    .nav-container > ul > li:hover {
        transform: translateY(-1.5px);
        transition: transform ease .3s;
    }
    .nav-container > ul > li a:hover {
        color: var(--color-main-span);
        text-shadow: 1.2px  1.2px #000;
        transition: all ease .3s;
    }

    /*header-section end*/

    /*welcome-section*/

    #welcome-section > h1 {
        text-align: center;
    }

    #welcome-section h1 > span:hover {
        background: var(--color-main-span);
        cursor: default;
    }

    #welcome-section > p {
        text-align: center;
    }

    /*welcome-section end*/

    /*projects-section*/

    #projects {        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10% 0;
    }

    #projects h2 {        
        width: 100%;
        text-align: center;
    }

    #projects > .project-tile {
        width: 500px;
        height: 500px;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    #projects > .project-tile:hover img {
        transform: scale(1.05);
        transition: all ease .3s;
        opacity: .5;
    }

    #projects > .project-tile:hover .project-desc h3{
        display: none;
    }

    #projects > .project-tile:hover .project-desc p {
        display: block;
        font-size: 2rem;
        font-weight: 400;
    }

    #projects > .project-tile > .project-desc p:hover {
        color: var(--color-main-span);
        text-shadow: 1.2px  1.2px #000;
        transition: all ease .3s;
    }

    #projects > .project-tile:nth-child(2) img {
        object-position: -263px;
    }

    #projects > .project-tile:last-child img {
        width: 525px;
        object-position: -18px;
    }

    /*projects-section end*/

    #contact-section .tooltip > a > i:hover  {
        transform: scale(.95);
        transition: all ease .2s;
    }

    /*contact-section end*/

    /*footer-section*/

    .social-icons a:first-child:hover {
        color: #55acee;
        transform: translateY(-2px);
        transition: all ease .2s;
    }

    .social-icons a:nth-child(2):hover {
        color: #4183c4;
        transform: translateY(-2px);
        transition: all ease .2s;
    }
    
    .social-icons a:nth-child(3):hover {
        color: #0077b5;
        transform: translateY(-2px);
        transition: all ease .2s;
    }

    /*footer-section end*/



}

/*desktop end*/

/*media-queries end*/

