@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap');

:root {    
    --bg-color-nav: #252422;
    --color-nav: #fffcf2;
    --bg-color-main: #27213c;
    --color-main-span: #941c2f;
    --bg-clr-project-section: #272d2d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    scroll-padding: 64px;
}

html {
    font-size: 62.5%; /*10px*/
}

body {
    font-size: 1.6rem; /*16px*/
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*header-section*/

.nav-container {
    width: 100%;
    height: 64px;
    position: fixed;
    display: flex;
    background-color: var(--bg-color-nav);
    z-index: 1;
}

.nav-container > ul {
    margin: auto;
    display: flex;
}

.nav-container > ul > li {
    padding: 8px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.2px;
}



.nav-container > ul > li  > a {
    color: var(--color-nav);
}

/*header-section end*/

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

/* main-section */

main {
    background-color: var(--bg-color-main);
}

/*welcome-section*/

#welcome-section {
    height: 100vh;
}

#welcome-section > h1{
    color: var(--color-main-span);    
    margin-top: -64px;
    font-size: 4rem;
    line-height: 50px;
    font-weight: 800;
    text-shadow: 1.2px  1.2px #000;
}
#welcome-section > p{
    color: var(--color-nav); 
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 10px 0;
}

#welcome-section h1 > span{
    color: var(--color-nav);
    text-align: right;
    border: 3px solid var(--color-nav);
    border-radius: 5px;
    background: #941c2e7b;
    padding: 4px 7px 7px 7px;
    line-height: 80px;
}

/*welcome-section end*/

/*projects-section*/
    #projects {
        background-color: var(--bg-clr-project-section);
        height: 100%;
        width: 100%;
    }

    #projects h2 {
        margin-bottom: 10%;
        font-size: 3rem;
        letter-spacing: .8px;
        color: var(--color-nav);
    }

    #projects > .project-tile {
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin: 2rem 0;
        box-shadow: 0px 0px 5px .5px rgba(0,0,0,1);
        -webkit-box-shadow: 0px 0px 5px .5px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 5px .5px rgba(0,0,0,1);
    }

    #projects > .project-tile:nth-child(3) img {
        object-position: 0 0;
    }

    #projects > .project-tile:nth-child(4) img {
        object-position: 0;
    }    

    #projects > .project-tile:last-child img {
        object-fit: fill;
    }

    .project-desc {
        width: 100%;
        height: 80px;
        position: relative;
        margin-top: -80px;
        background-color: var(--bg-color-nav);
        color: var(--color-nav);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .project-desc h3 {
        font-size: 2rem;
        letter-spacing: .8px;
        text-align: center;
    }

    .project-desc p {
        font-size: 1.8rem;
        display: none;
    }

    

/*projects-section end*/

/*contact-section*/

#contact-section {
    height: calc(100vh - 64px);
}

/*contact-section end*/

/* main-section end*/
